<div class="header">
  <nav class="navbar navbar-static-top">
  	<div class="container">
      <div class="row">
        <div class="col-md-8">
  	      <ul>
	          <li><a href="#">Welcome</a></li>
	        	<li><a href="#">Portfolio</a></li>
        		<li><a href="#">Blog</a></li>
        		<li><a href="#">About</a></li>
        		<li><a href="#">Contact</a></li>
      		</ul>
        </div>
        <div class="col-md-4">
          <p>Abylay</p>
        </div>
      </div>
  	</div>
	</nav>
</div>

<div class="main">
  <div class="container">
    <h1>Hello. My name is<span> Abylay </span> and I have creative ideas and build websites</h1>
    <a class="btn " href="#">View my work</a>
  </div>
</div>

<div class="footer">
  <div class="row">
    <ul>
      <li><a><img src="https://image.flaticon.com/icons/svg/59/59439.svg"/></a></li>
      <li><a><img src="https://image.flaticon.com/icons/svg/8/8800.svg"/></a></li>
      <li><a><img src="https://image.flaticon.com/icons/svg/33/33671.svg"/></a></li>
  	</ul>
  </div>
  <div class="row">
    <p>(c) 2015 Abylay</p>
  </div>
</div>